.affliate_header_text p {
  /* [object Object] */
  color: rgb(105, 105, 105);
  font-family: FuturaCyrillicLight;
  font-size: 24px;
  font-weight: 300;
  line-height: 31px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 30px;
}
.custom_grids_upload {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.custom_form {
  border-radius: 10px 0px 0px 10px;
  width: 50%;
  background: linear-gradient(
    90deg,
    rgb(240, 240, 240),
    rgb(228, 235, 255) 100%
  );
  height: 440px;
  padding: 20px;
}

.custom_form input,
.custom_form textarea,
.custom_form select {
  box-sizing: border-box;
  border: 1px solid rgba(179, 179, 179, 0.5);
  border-radius: 5px;
  width: 100%;
  height: 60px;
  padding-left: 15px;
  margin-bottom: 10px;
  background: rgb(248, 248, 248);

  color: #000;
  font-family: FuturaCyrillicLight;
  font-size: 20px;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 0%;
}

.custom_form input::placeholder,
.custom_form textarea::placeholder {
  /* PC & Tablet/H5/Light */
  color: rgb(132, 132, 132);
  font-family: FuturaCyrillicLight;
  font-size: 20px;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 0%;
}

.custom_form textarea {
  height: 120px;
  padding-top: 15px;
}
.custom_form select {
  padding-right: 15px;
}
.custom_form .main_btn_temp {
  width: 100%;
}
.custom_upload {
  width: 50%;
  border-radius: 0px 10px 10px 0px;
  height: 440px;
  backdrop-filter: blur(10px);
  background: linear-gradient(
      135deg,
      rgba(73, 73, 75, 0.8) 0%,
      rgba(0, 8, 30, 0.8) 100%
    ),
    url(../../assets/images/upload-bg.png);
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}

.custom_upload p {
  /* PC & Tablet/H5/Medium */
  font-family: FuturaCyrillicMedium;
  font-size: 20px;
  font-weight: 450;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  color: rgb(255, 255, 255);
}
.custom_upload p span {
  color: rgb(83, 126, 239);
}

.custom_upload h4 {
  /* PC & Tablet/H6/Medium */
  color: rgb(191, 54, 54);
  font-family: FuturaCyrillicMedium;
  font-size: 18px;
  font-weight: 450;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
}
.custom_upload .main_btn_temp {
  border-radius: 5px;

  background: rgb(80, 80, 80);
}


.custom_grids_upload .css-13cymwt-control,
.custom_grids_upload .css-t3ipsp-control {
  margin-bottom: 10px;
}
.custom_grids_upload .css-13cymwt-control,
.custom_grids_upload .css-qbdosj-Input,
.custom_grids_upload .css-t3ipsp-control {
  height: 60px;
}

.custom_grids_upload .css-qbdosj-Input:after {
  display: none;
}
.custom_grids_upload .css-1fdsijx-ValueContainer{
   padding-left: 15px !important;
}
