.library_item_card {
  box-sizing: border-box;
  /* Accent/accent-color */
  border: 1px solid rgb(47, 87, 191);
  border-radius: 5px;
  height: 240px;
  background: conic-gradient(
      from 180deg at 50% 50%,
      rgba(255, 255, 255, 0.85),
      rgba(245, 245, 245, 0.85)
    ),
    url(../../assets/images/card-bg.png);
  background-size: cover;
}
.library_item_card_img {
  height: 180px;
}

.library_item_card_author {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  margin-bottom: 30px;
  cursor: pointer;
}
.library_item_card_author p {
  /* PC & Tablet/H6/Light */
  color: rgb(40, 40, 40);
  font-family: FuturaCyrillicLight;
  font-size: 18px;
  font-weight: 300;
  line-height: 23px;
  letter-spacing: 0%;
}

.library_item_model p {
  /* PC & Tablet/H5/Medium */
  color: rgb(40, 40, 40);
  font-family: FuturaCyrillicMedium;
  font-size: 20px;
  font-weight: 450;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
}

.library_item_card_price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.library_item_card_price {
  border-radius: 0px 0px 5px 5px;
  height: 60px;
  background: rgb(80, 80, 80);
  cursor: pointer;
}

.library_item_card_price p {
  /* PC & Tablet/H6/Medium */
  color: rgb(255, 255, 255);
  font-family: FuturaCyrillicMedium;
  font-size: 18px;
  font-weight: 450;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: left;
}

.library_item_card_author img {
  border-radius: 5px;
  width: 30px;
  height: 30px;
  object-fit: cover;
}

.library_item_pricely {
  border-radius: 0px 0px 5px 5px;

  background: rgb(47, 87, 191);
}
