.home_header {
  background: url(../../assets/images/header-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  padding: 150px 0 110px;
}

.home_header_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.home_header_content_title h1 {
  /* PC & Tablet/H1/Bold */
  font-family: FuturaCyrillicBold;
  color: rgb(255, 255, 255);
  font-size: 76px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
  text-transform: capitalize;
  margin-bottom: 40px;
}

.home_header_content_desc p {
  color: rgb(179, 179, 179);
  font-family: FuturaCyrillicLight;
  max-width: 840px;
  font-size: 32px;
  font-weight: 300;
  line-height: 41px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 25px;
}

.header_form {
  border-radius: 5px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.316);
}
.header_form {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 40px;
}

.header_form_select .css-13cymwt-control,
.header_form_select .css-t3ipsp-control {
  width: 269.67px;
  height: 60px;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background: rgb(255, 255, 255);
  cursor: pointer;
}

.css-1jqq78o-placeholder {
  text-align: left;
}
.css-1fdsijx-ValueContainer {
  padding: 0 !important;
}
.css-1u9des2-indicatorSeparator {
  display: none;
}

.css-1xc3v61-indicatorContainer svg * {
  fill: rgb(47, 87, 191);
}
.css-1jqq78o-placeholder {
  color: rgb(179, 179, 179) !important;
  font-size: 18px;
  font-family: FuturaCyrillicMedium;
  font-weight: 450;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: left;
}

.home_header_content_see_more_btn {
  box-sizing: border-box;
  border: 2px solid rgb(179, 179, 179);
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 12px 20px;
  cursor: pointer;
  margin-bottom: 12px;
}
.home_header_content_see_more_btn p {
  color: rgb(179, 179, 179);
  font-size: 18px;
  font-family: FuturaCyrillicMedium;
  font-weight: 450;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: left;
}

.home_header_content_see_more svg {
  cursor: pointer;
}

/* about */
.home_about {
  background: url(../../assets/images/about-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home_about_wrapper {
  padding: 80px 0;
  background: #ffffffca;
}
.home_about_wrapper_content {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 40px;
}
.home_about_wrapper_left h2 {
  /* PC & Tablet/H2/Bold */
  color: rgb(40, 40, 40);
  font-family: FuturaCyrillicBold;
  font-size: 48px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 40px;
}
.home_about_wrapper_left p {
  font-family: FuturaCyrillicLight;
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0%;
  color: rgb(105, 105, 105);
  text-align: left;
  margin-bottom: 20px;
}

.home_about_wrapper_left span {
  font-weight: 450;
  font-family: FuturaCyrillicMedium;
}
.home_about_wrapper_left a {
  color: rgb(47, 87, 191);
}

.home_moto {
  padding: 160px 0;
  text-align: center;
  background: linear-gradient(
      110.35deg,
      rgba(73, 73, 75, 0.75) 0%,
      rgba(0, 8, 30, 0.75) 100%
    ),
    url(../../assets/images/home-moto-bg.jpg);
    background-size: cover;
}

.home_moto h1 {
  /* PC & Tablet/H2/Bold */
  color: rgb(255, 255, 255);
  font-family: FuturaCyrillicBold;
  font-size: 48px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 50px;
}
.home_moto p {
  /* [object Object] */
  color: rgb(179, 179, 179);
  font-family: FuturaCyrillicLight;
  font-size: 24px;
  font-weight: 300;
  line-height: 31px;
  letter-spacing: 0%;
  text-align: center;
}
.home_moto p a {
  color: rgb(83, 126, 239);
}

.see_more_btn_temp {
  width: 180px;
  height: 60px;
}
.how_it_works .see_more_btn_temp {
  margin-top: 50px;
}
.see_more_btn_temp p {
  margin: 0;
}
.home_tutorial {
  padding: 80px 0;
  background: #2f3442;
}

.home_tutorial_title h2 {
  /* PC & Tablet/H2/Bold */
  color: rgb(255, 255, 255);
  font-family: FuturaCyrillicBold;
  font-size: 48px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 40px;
}

.home_tutorial_cards {
  margin: 40px;
}
.home_tutorial_cards,
.home_tutorial_card_title {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 20px;
}
.home_tutorial_card_title {
  margin: 20px 0;
}

.home_tutorial_card_title h4 {
  /* PC & Tablet/H3/Medium */
  color: rgb(255, 255, 255);
  font-family: FuturaCyrillicMedium;
  font-size: 32px;
  font-weight: 450;
  line-height: 41px;
  letter-spacing: 0%;
  text-align: left;
}
.home_tutorial_card_btn {
  cursor: pointer;
  border-radius: 5px;
  width: 67px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* Accent/accent-color */
  background: rgb(47, 87, 191);
}

.home_tutorial_card_desc p {
  /* PC & Tablet/H5/Light */
  color: rgb(179, 179, 179);
  font-family: FuturaCyrillicLight;
  font-size: 20px;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
}

.browse_all {
  box-sizing: border-box;
  border: 2px solid rgb(179, 179, 179);
  border-radius: 5px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  margin: 0 auto;
}

.reviews {
  background: url(../../assets/images/about-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.reviews_wrapper {
  padding: 80px 0;
  padding-bottom: 100px;
  background: #ffffffca;
}
.reviews_wrapper_title h2 {
  /* PC & Tablet/H2/Bold */
  color: rgb(40, 40, 40);
  font-family: FuturaCyrillicBold;
  font-size: 48px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 40px;
}

.join_community {
  background: linear-gradient(
      135deg,
      rgba(40, 40, 40, 0.795) 0%,
      rgba(0, 8, 30, 0.808) 100%
    ),
    url(../../assets/images/login-bg.png);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.join_community_wrapper {
  padding: 190px 0;
  /* background: #5b5b5be9; */
}

.join_community_wrapper {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}
.join_community_wrapper h2 {
  /* PC & Tablet/H2/Bold */
  color: rgb(255, 255, 255);
  font-family: FuturaCyrillicBold;
  font-size: 48px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0%;


}

.join_community_wrapper p {
  /* PC & Tablet/H4/Light */
  color: rgb(255, 255, 255);
  font-family: FuturaCyrillicLight;
  font-size: 24px;
  font-weight: 300;
  line-height: 31px;
  letter-spacing: 0%;
  text-align: center;
  max-width: 547px;
  width: 100%;
  
}
