.tutorial_page_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}
.tutorial_page_title h1 {
  margin: 0;
}

.tutorial_content {
  padding: 50px 0 80px 0;
}
.tutorial_content img {
  margin-bottom: 20px;
}

.tutorial_content p {
  margin-bottom: 20px;
  /* PC & Tablet/H5/Light */
  color: rgb(0, 0, 0);
  font-family: FuturaCyrillicLight;
  font-size: 20px;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
}
