.tutrial_pagination ul {
  display: flex;
  align-items: center;
  list-style: none;
}
.tutrial_pagination .previous {
  margin-right: 25px;
}
.tutrial_pagination .next {
  margin-left: 25px;
}
.tutrial_pagination .previous,
.tutrial_pagination .next {
  box-sizing: border-box;
  border: 2px solid #2f57bf;
  border-radius: 5px;
  width: 60px;
}
.tutrial_pagination ul .disabled {
  border: 2px solid #b3b3b3;
  cursor: default;
}
.tutrial_pagination ul .disabled a {
  cursor: default;
}
.tutrial_pagination ul .disabled svg * {
  fill: #b3b3b3;
}

.tutrial_pagination ul li,
.tutrial_pagination ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 60px;
  border-radius: 5px;
  cursor: pointer;

  /* PC & Tablet/H6/Light */
  color: rgb(47, 87, 191);
  font-family: FuturaCyrillicLight;
  font-size: 18px;
  font-weight: 300;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
}
.tutrial_pagination ul .selected {
  width: 60px;
}
.tutrial_pagination ul .selected a {
  border-radius: 5px;
  /* PC & Tablet/H6/Bold */
  color: rgb(255, 255, 255);
  font-family: FuturaCyrillicBold;
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
  background: rgb(47, 87, 191);
  width: 60px;
}
